@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --orange:#ff702a;
    --bgCard:#ffefe8;
}

body{
    background-color:#1e1d2b;
    font-family: 'Poppins';
    color:white
}
.bg{
    --bs-navbar-padding-y:0.3rem;
}
.navbar-brand{
    cursor: default;
}
.navbar-brand:hover{
    color:var(--orange);
}
.container-fluid{
    --bs-gutter-x:10px;
}
.navbar-brand{
    color:var(--orange);
}
.navbar-toggler {
    padding: 0px;
}

@media (max-width:990px)  {
    .cola{
        background-color: #2c2b47;
    }
}
.titleS{
    width: 100%;
    display: flex;
    justify-content: center;
}
.titleF{
    width: 80%;
}
.headT{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headT>h1{
    color:var(--orange);
    font-size: 45px;
}
.headT>p{
    text-align: center;
    color:white;
}

.headT>span{
    background-color: var(--orange);
    color: white;
    padding: 5px;
}
.ima{
    margin-top: 20px;
    text-align: center;
}
.ima img{
    width: 80%;
}
span{
    color:var(--orange);
    font-size: 20px;
    
    text-align: center;
}
.about {
    width: 100%;
    color:white;
    text-align: center;
}
#aboutUs{
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about p{
    width:68%;
    font-size: 15px;
    text-align: center;
}
#aboutUs span:last-child{
    color:white;
    background-color: var(--orange);
    padding: 5px;
}

#aboutI img{
    width: 75%;
}
.menu{
    text-align: center;
}
.foodmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foodmenu h2{
    width: 70%;
}
.imgMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.imgMenu>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.food1 {
    background-color: var(--bgCard);
    width: 60%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 0px;
}
.food1 img{
    width: 60%;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;    
}
.services h2{
    text-align: center;
    width: 50%;
}
.imgsSe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgS{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 0px;
}
.imgS img{
    width: 40%;
}
.imgS p{
    width: 65%;
    text-align: center;
}
.Ccuadro{
    display: flex;
    justify-content:center;
}
.cuadro{
    padding: 20px;
    border-style: double;
    border-color: 5px var(--bgCard);
    background-color: var(--bgCard);
    width: 85%;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cuadro h2{
    text-align: center;
}
.cuadro span{
    background-color: #ff702a;
    color:white;
    padding: 5px;
}

footer>div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foote{
    width: 70%;
}
.infor{
    margin:0px 0px 20px 0px;
}
.infor h3{
    margin:0px;
}
.infor hr{
    margin: 5px 0px 15px 0px
}

hr{
    width: 50px;
    border:solid 1px var(--orange);
}
.foote p{ 
    margin-bottom: 0;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 10px;
}
.conT h3{
    margin-bottom: 0;
}
.conT hr{
    width: 30%;
    margin: 0px 0px 10px 0px;
}
.con{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.contact span{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--orange);
}

@media (min-width:992px) {
    .titleF{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headT{
        width: fit-content;
        align-items: start;
    }
    .headT >h1{
        font-size: 65px;
    }
    .headT >p{
        font-size: 25px;
        text-align: left;
    }
    .ima img{
        width: 70%;
    }
    .ima{
        width: 50%;
    }
    .navbar-nav{
        gap:20px;
    }
    .container-fluid{
        --bs-gutter-x:100px;
    }
    .navbar-brand{
        font-size:27px;
    }
    .nav-link{
        font-size: 20px;
    }
    .ab{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .about {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }
    #aboutI{
        text-align: left;
        width: 55%;
    }
    #aboutI img {
        width: 60%;
    }
    #aboutUs{
        margin: 15px 0px;
        display: flex;
        align-items: baseline;
        width: 45%;
        text-align:left;
    }

    #aboutUs h2{
        font-size: 35px;
    }

    #aboutUs p{
        width: 328px;
        text-align: left;
        font-size: 18px;
    }
    
    #aboutUs span:last-child{
        color:white;
        background-color: var(--orange);
        padding: 5px;
    }
    .imgMenu{
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .imgMenu>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }
    .food1{
        width: 200px;
        justify-content: space-evenly;
    }   
    .imgsSe{
        flex-direction: row;
    }
    footer{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    footer>div{
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
    }
    .foote{
        display: flex;
        justify-content: space-between;
    }
    .contact{
        width: 250px;
    }
    
    .Ccuadro{
        display: flex;
        align-items: center;
    }   
    .cuadro h2{
        font-size:40px;
        margin-bottom: 20px;
    }
    .titleS{
        height: 70vh;
    }
}

@media (min-width: 768px){
    .ima img {
        width: 70%;
    }
    #aboutI img {
        width: 55%;
    }
    .food1{
        width: 195px;
    }
}